.hero-unit h1 {
    font-size: 80px;
}

@media (max-width: 979px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: fixed;
    }
}

body {
    padding-top: 40px;
}

body > .navbar .brand {
    float: left;
}

header {
    margin-bottom: 20px;
}

.searchbar {
    padding-top: 40px;
}

.field-error {
    color: red;
}

.module {
    position: relative;
    margin: 15px 0;
    padding: 20px 20px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.module > h1 {
    margin-bottom: 1em;
}